clique==2.0.0
opencv-python==4.11.0.86; python_version >= '3.10'
opencv-python==4.11.0; python_version == '3.7'
numpy==1.21.6; python_version == '3.7'
numpy==1.26.4; python_version >= '3.10'
PySide2>=5.15.2; python_version <= '3.10'
PySide6>=6.5.3; python_version >= '3.11'